body{
    margin: 0;
    padding: 0;
    background: #F5F5F5;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}


.reg{
    cursor: pointer;
    font-weight: 900;
    color: #2591de
}
.reg:hover{
    color: #1e9ccb;
    cursor: pointer;
}
.flex-container_ht {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    background-color: white;

}




#input_f {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    margin: 0 auto;
    width: 400px;
    background-color: white;
}

#back{
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: #b0abab;
}
#back:hover{
    color: #27acd9;
    cursor: pointer;
}
.forget{
    display: flex;
    justify-content: space-between;
}

.c-inputLabel{
    display: flex;
}
#forget_password{
    color:#2896EA;
    cursor: pointer;

}
#forget_password:hover{
    color: #27acd9;
    cursor: pointer;
}
#img-back{
    cursor: pointer;
}

input[type="text"] {
    height: 35px;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    margin-bottom: 20px;
}


.btn {
    text-align:center ;
    border: none;
    color: white;
    font-size: 16px;
    height: 35px;
    width: 320px;
    border-radius: 10px;
    cursor: pointer;
}

.success {
    background-color: #d10202;
    width: 100%;
}
.success:hover {
    background-color: #ea0126;
}
